.display_box {
	display:block;
	padding:5px;
margin:15px;
}
/*Data Table*/
#display_data{
	border:1px solid #686868;
	border-collapse:collapse;
	width:70%;				
}
#display_data thead{
	text-align:left;
}
#display_data th{
	background-color:#2a2a2a;
	color:white;
	padding:5px;
}
#display_data tr:nth-child(even)
{
	background-color:#CFCFCF;
}
#display_data tr:nth-child(odd)
{
	background-color:#EBEBEB;
}
#display_data td{
	padding:5px;
}
#display_data a{
text-decoration:none;
}
	
#edit_data label{
	display:inline-block;
	width:250px;
	height:20px;
	font-size:1.2em;
	font-weight:bold;
	vertical-align:top;
	cursor:pointer;
}

.sort a{
	color:#ffffff;
}
.sort a:hover{
	color:#D54E21;
}




.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:12px;
line-height:13px;
}

.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}

.pagination a:hover{
color:#fff;
background: #3279BB;
}

.pagination b{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
float:left;
margin: 2px 2px 2px 0;
}